# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT=https://genaiindustria7447042968.cognitiveservices.azure.com/
AZURE_OPENAI_API_KEY=24T24TYkcun5EqwaIufET8WS4bkbjVqC84bUqZEnVOvAatHD5Gk6JQQJ99BFAC77bzfXJ3w3AAAAACOGIvRe
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002

# Confluence Configuration
CONFLUENCE_URL=https://kulbirschauhan.atlassian.net/wiki
CONFLUENCE_USERNAME=kulbirschauhan@gmail.com
CONFLUENCE_API_TOKEN=ATATT3xFfGF0hLKDzumB21xeUgCX0InFLIh7qAUzY2pwlv4FoIUE_gPG23czyDBbK5xdOjQiY2sd5JkUkzSQk9bYqWfcvASr_KQ6Cn4_cuiCLGZAea3OPTR2XKhQXv8kFLCwKFRPnJA6XR25GQGFvJobzo1U63eOJScYH2ARKaOWg0dYLHQDBIw=43A20E3F
JIRA_URL= https://kulbirschauhan.atlassian.net
JIRA_USERNAME=kulbirschauhan@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0hLKDzumB21xeUgCX0InFLIh7qAUzY2pwlv4FoIUE_gPG23czyDBbK5xdOjQiY2sd5JkUkzSQk9bYqWfcvASr_KQ6Cn4_cuiCLGZAea3OPTR2XKhQXv8kFLCwKFRPnJA6XR25GQGFvJobzo1U63eOJScYH2ARKaOWg0dYLHQDBIw=43A20E3F

Box_Client_Id=hatif16i5uqrutcbwwxiky2lo42gp7qc
Box_Client_Secret=GY3zshzvts2Z0TA0eAbbuGGCrBfzK2m2